<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/base.css" />
  <% if (partials && partials.nav) { %>
  <link rel="stylesheet" href="/css/nav.css" />
  <% } %> <% if (partials && partials.footer) { %>
  <link rel="stylesheet" href="/css/footer.css" />
  <% } %>
</head>
