<!-- Navigation Bar -->
<nav class="navbar">
  <div class="left">
    <a href="/#" class="logo">
      <img width="44" src="/img/logo.png" alt="" />
      <span>ShopEazy</span>
    </a>
  </div>
  <div class="right">
    <a href="/products" title="Search">🔍</a>
    <a href="/user/shoppingCarts" title="Shopping Cart">🛒</a>
    <!-- <a href="/user/account" title="Account">👤</a> -->
  </div>
</nav>